@model _3vikna.Models.EditSub
@{
    ViewBag.Title = "Þýða texta";
}


<h2>@ViewBag.Title</h2>

@Html.Partial("navigationbar")
@using (Html.BeginForm())
{
    <div class="takki2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><b> ýttu hér til að hlaða inn breytingunum sem þú hefur gert</b></h3>
            </div>
            <div class="panel-body">
                <div class="uppl">
                    <ul>
                        <li> Varast skal að senda inn ef að gluggarnir eru tómir.</li>
                        <li> Varast skal að nota tvípunkt( : ) inn í gluggan.</li>
                        <li> Varast skal að breya textanum í gluggunum ef að hann er ekki rétt þýddur.</li>
                        <li> Varast skal að senda inn skástrik( \ ). </li>
                        <li> Varast skal að senda inn "String Escape characters" t.d. (\n, \r, \r..)".</li>
                        <li> Varasr skal að senda inn mynd sem er ekki .srt format.</li>
                        <li> Eftir að mynd hefir verið full þýdd þarf Admin að byrta þyðinguna áður en það sé hægt að ná í hana</li>
                    </ul>
                </div>
                <input type="submit" value="Senda" class="btn btn-default" />
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) // breyta i admin
                {
                    @Html.ActionLink("Publish", "SafeToPublish", new { id = @Model.editSubtitle.ID })
                }
            </div>
        </div>
    </div>
    for (int i = 0; i < Model.lines.Count; i++)
    {
        if (i == Model.lines.Count - 1)
        {
            @Html.Raw(Model.lines[i] + "<br/>");
    <span class="taxta-box>"> @Html.EditorFor(model => Model.lines[i], new { size = 1000 })</span>
    @Html.Raw("<br />");
    @Html.Raw("</div></div>");
        }
        else if (Model.lines[i] == "\n")// veida \n
        {
            @Html.Raw("</div></div>");
        }
        else if (Model.lines[i + 1] == "\n")// texti
        {
            // @Html.Raw("\n");
            @Html.Raw(Model.lines[i] + "<br/>");
    <span class="taxta-box>"> @Html.EditorFor(model => Model.lines[i], new { size = 1000 })</span>
    @Html.Raw("<br />");
        }
        else if (Model.lines[i].Length < 4)// veidir numer minni en 2 digits
        {
            @Html.Raw("<div class=\"panel panel-primary\">");
    @Html.Raw("<div class=\"panel-heading\">");
    @Html.Raw("<b>" + Model.lines[i] + "</b>" + "<br/>");
        }
        else if (Model.lines[i + 1].Substring(3, 1) == ":")// veida numerinn
        {
            @Html.Raw("<div class=\"panel panel-primary\">");
    @Html.Raw("<div class=\"panel-heading\">");
    @Html.Raw("<b>" + Model.lines[i] + "</b>" + "<br/>");
        }
        else if (Model.lines[i].Substring(3, 1) == ":") // veida timann
        {
            @Html.Raw("<b>" + Model.lines[i] + "</b>" + "<br/>");
    @Html.Raw("\n"); //prufa
    @Html.Raw("</div>");
    @Html.Raw("<div class=\"panel-body\">");
        }
        else // textinn
        {
            @Html.Raw("\n");
    @Html.Raw(Model.lines[i] + "<br/>");
    @Html.EditorFor(model => Model.lines[i], new { size = 1000 });
    @Html.Raw("<br />");
        }
        @Html.HiddenFor(model => model.editSubtitle.Category)
        @Html.HiddenFor(model => model.editSubtitle.DateCreated)
        @Html.HiddenFor(model => model.editSubtitle.ID)
        @Html.HiddenFor(model => model.lines[i])
    }
}
