@model _3vikna.Models.MainPageViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="forsida">
    <div class="jumbotron">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>-->

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/Scarface-Al-Pacino-Tony-Montana-opens-fire-climax_zps8626b098.jpg" alt="...">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/pulp-fiction-2_zpsc24a2ac2.jpg" alt="...">
                    <div class="carousel-caption">
                       
                    </div>
                </div>
                <div class="item">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/hangovers1_zps875ad10d.jpg" alt="...">
                    <div class="carousel-caption">
                       
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")

    <div class="row">
        <div class="col-md-4">
            <h2>Vinsælustu Beiðnir</h2>
                <ul>
                    @foreach (var item in Model.popularRequests)
                    {
                        <li>
                            @if (@item.ImageBytes != null)
                            {
                                string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="55" height="35" />
                            }
                            else
                            {
                                <img src="http://i91.photobucket.com/albums/k305/sjon2/Movie_icon_2_zpseec47153.png" id="picturesize" alt="photo" />
                            }
                              <h3>@item.MediaName</h3>
                              <p> Útgáfu ár: @item.YearPublished</p>
                              <p> Sett inn @item.Date</p>
                       </li>
                        //<li class="noDotsInMainPageList">@item.MediaName</li>
                    }
                </ul>
        </div>
        <div class="col-md-4">
            <h2>Nýjustu skjátextar</h2>

                <ul>
                    @foreach (var item in Model.newestSubtitles)
                    {
                       <li>
                           @if (@item.ImageBytes != null)
                           {
                               string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                               string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                               <img src="@imageSrc" width="55" height="35" />
                           }
                           else
                           {
                                <img src="http://i91.photobucket.com/albums/k305/sjon2/Movie_icon_2_zpseec47153.png" id="picturesize" alt="photo" />
                           }

                              <h3>@Html.ActionLink(@item.MediaNameSub, "download", new { @item.ID })</h3>
                              <p> Útgáfu ár: @item.YearPublished</p>
                              <p> Sett inn @item.DateCreated</p>
                       </li>
                        //<li class="noDotsInMainPageList">@item.MediaName</li>
                    }
                </ul>
        </div>
        <div class="col-md-4">
            <h2>Í vinnslu</h2>

                <ul>
                    @foreach (var item in Model.notFinishedSubtitles)
                    {
                        <li>
                            @if (@item.ImageBytes != null)
                            {
                                string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" width="55" height="35" />
                            }
                            else
                            {
                                <img src="http://i91.photobucket.com/albums/k305/sjon2/Movie_icon_2_zpseec47153.png" id="picturesize" alt="photo" />
                            }
                            <h3>@Html.ActionLink(@item.MediaNameSub, "EditSub", new { id = @item.ID })</h3>
                             <p> Útgáfu ár: @item.YearPublished</p>
                             <p> Sett inn @item.DateCreated</p>
                       </li>
                    }
                  </ul>

                </div>
    </div>
</div>