@model IEnumerable<_3vikna.Models.Subtitles>
@{
    ViewBag.Title = "Home Page";
}
<div class="forsida">
    <!--<div id="logo">     SRV setja þetta í parcial view
        <h1>@Html.ActionLink("Skjátextar.is", "Index", "Home")</h1>
    </div>
    <div id="login">
        @Html.Partial("_LoginPartial")
    </div>-->

    <div class="jumbotron">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/Scarface-Al-Pacino-Tony-Montana-opens-fire-climax_zps8626b098.jpg" alt="...">
                    <div class="carousel-caption">
                        svenni
                    </div>
                </div>
                <div class="item">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/pulp-fiction-2_zpsc24a2ac2.jpg" alt="...">
                    <div class="carousel-caption">
                        Sæll´ettu
                    </div>
                </div>
                <div class="item">
                    <img src="http://i91.photobucket.com/albums/k305/sjon2/hangovers1_zps875ad10d.jpg" alt="...">
                    <div class="carousel-caption">
                        prufa
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div id="navbar">
        <ul>
            <li><span class="item1">@Html.ActionLink("Beiðni", "Request", "Home")</span></li>
            <li><span class="item2"><a href="#">Skjátexti</a></span></li>
            <li><span class="item3"><a href="#">Prófíll</a></span></li>
            <li><span class="item4">@Html.ActionLink("Hjálp", "Contact", "Home")</span></li>

        </ul>
    </div>
    <div id="search"> 
        <input type="text" value="" name="Search" size="30"/>
        <input type="button" value="Leita" name="search" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Vinsælustu Beiðnir</h2>
            <p>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="noDotsInMainPageList">@item.MediaName</li>
                    }
                </ul>
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Nýjustu skjátextar</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Í vinnslu</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>