@model _3vikna.Models.Requests
@{
    ViewBag.Title = "Ný beiðni";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2>@ViewBag.Title</h2>
    @Html.Partial("navigationbar")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Heiti sjónvarpsefni", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MediaName)
                @Html.ValidationMessageFor(model => model.MediaName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Útgáfuár" ,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearPublished)
                <!--Html.EditorFor(model => model.Text)-->
                @Html.ValidationMessageFor(model => model.YearPublished)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dagsetning", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("date", DateTime.Now.ToShortDateString())
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Flokkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Category, ViewBag.Categories as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>
        <div>
            Mynd <input name="file" type="file" id="file" value="Mynd" />
            <input type="submit" value="Senda" class="btn btn-default" />
        </div>

    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")






