@model _3vikna.Models.Subtitles
@{
    ViewBag.Title = "NewScreenText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewScreenText</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", id = "profilePictureForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Heiti sjónvarpsefnis", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MediaNameSub)
                @Html.ValidationMessageFor(model => model.MediaNameSub)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Útgáfuár", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearPublished)
                <!--Html.EditorFor(model => model.Text)-->
                @Html.ValidationMessageFor(model => model.YearPublished)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Flokkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Category, ViewBag.Categories as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dagsetning", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("date", DateTime.Now.ToShortDateString())
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Upphlaða .srt Skrá", new { @class = "control-label col-md-2" })
            <input name="uploadFile" type="file" />
        </div>
        <div class="form-group">
            @Html.Label("Mynd", new { @class = "control-label col-md-2" })
            <input class="control-label col-md-2" type="file" id="file" value="Mynd" />
        </div>
            <div class="form-group">
                <input type="submit" value="Senda" class="btn btn-default" />
            </div>
        </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
