@model IEnumerable<_3vikna.Models.Requests>
@{
    ViewBag.Title = "Beiðnir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="request">
    <h2>@ViewBag.Title</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")

    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Dagsetning</th>
                <th class="head">Kjósa</th>
            </tr>
        </thead>

        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3">
                        @if (@item.ImageBytes != null)
                        {
                            string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="55" height="35" />
                        }
                        else
                        {
                            <img src="http://content.clearchannel.com/cc-common/mlib/589/05/589_1369232682.jpg" id="picturesize" alt="photo" />
                        }
                    </td>
                    <td class="row1"><span class="upvote">@item.UpvoteID</span></td>
                    <td class="row1">@item.MediaName</td>
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">@item.Date</td>
                    <td class="row2"><button type="button" onclick="Alert()" id="Upvote" class="glyphicon glyphicon-arrow-up">@Html.ActionLink("UP", "upvoteInc", new { @item.ID })</button></td>
                </tr>
            }
        </tbody>

    </table>
    <div id="RequestButton">
        <form action="http://localhost:65081/Home/NewRequest">
            <input type="submit" value="Ný Beiðni">
        </form>
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
</div>
