@model IEnumerable<_3vikna.Models.Requests>
@{
    ViewBag.Title = "RequestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="request">
    <h2>@ViewBag.Title</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")

    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Dagsetning</th>
                <th class="head">Staða</th>
                <th class="head">Kjósa</th>
            </tr>
        </thead>

        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3"> <img src="http://content.clearchannel.com/cc-common/mlib/589/05/589_1369232682.jpg" id="picturesize" alt="photo" /></td>
                    <td class="row1">@item.MediaName</td>
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">@item.Date</td>
                    <td class="row2">Í VINNSLU</td>
                    <td class="row2"><div class="glyphicon glyphicon-arrow-up"></div> </td>
                    <td class="row2">@item.UpvoteID<button type="button" id="Upvote" class="glyphicon glyphicon-arrow-up">@Html.ActionLink("UP", "upvoteInc", new { @item.ID })</button></td>
                </tr>
            }
        </tbody>

    </table>
    <div id="RequestButton">
        <form action="http://localhost:65081/Home/NewRequest">
            <input type="submit" value="Ný Beiðni">
        </form>
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
</div>
