@model IEnumerable<_3vikna.Models.Subtitles>
@{
    ViewBag.Title = "Skjátextar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="screentext">
    <h2>@ViewBag.Title</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")


    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Athugasemdir</th>
                <th class="head">Sækja</th>
            </tr>
        </thead>
        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3">
                        @if (@item.ImageBytes != null)
                        {
                            string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="52" height="35" />
                        }
                        else
                        {
                            <img src="http://i91.photobucket.com/albums/k305/sjon2/Movie_icon_2_zpseec47153.png" id="picturesize" alt="photo" />
                        }
                    </td>


                    @if(item.IsFinished)
                    {
                          <td class="row1">@item.MediaNameSub</td>
                    }
                    else
                    {
                         <td class="row1">@Html.ActionLink(@item.MediaNameSub, "EditSub", new { id = @item.ID })</td>
                    }
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">@Html.ActionLink("comment", "comment", new { @item.ID })</td>
                    @if(item.IsFinished)
                    {
                        <td class="row2">@Html.ActionLink("Sækja skrá", "download", new { @item.ID})</td>
                    }
                    else
                    {
                        <td class="row2">Í Vinnslu </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div id="RequestButton">
        @if(User.Identity.IsAuthenticated)
        { 
            <form action="http://localhost:65081/Home/NewScreenText">
                <input type="submit" value="Nýr Skjátexti">
            </form>
        }
    </div>
</div>
