@model IEnumerable<_3vikna.Models.Subtitles>
@{
    ViewBag.Title = "ScreenText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="screentext">
    <h2>ScreenText</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")


    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Athugasemdir</th>
                <th class="head">Sækja</th>
            </tr>
        </thead>
        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3">
                        @if (@item.ImageBytes != null)
                        {
                            string imageBase64 = Convert.ToBase64String(@item.ImageBytes);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="52" height="35" />
                        }
                        else
                        {
                            <img src="http://content.clearchannel.com/cc-common/mlib/589/05/589_1369232682.jpg" id="picturesize" alt="photo" />
                        }
                    </td>



                    <td class="row1">@Html.ActionLink(@item.MediaNameSub, "EditSub", new { id = @item.ID })</td>
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">@Html.ActionLink("comment", "comment", new { @item.ID }) ></td>
                    <td class="row2">@Html.ActionLink("download file", "download", new { @item.ID})</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="RequestButton">
        @if(User.Identity.IsAuthenticated)
        { 
            <form action="http://localhost:65081/Home/NewScreenText">
                <input type="submit" value="Nýr Skjátexti">
            </form>
        }
    </div>
</div>
