@model IEnumerable<_3vikna.Models.Subtitles>
@{
    ViewBag.Title = "ScreenText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="screentext">
    <h2>ScreenText</h2>

    @Html.Partial("navigationbar")

    @Html.Partial("Searchpartial")


    <table id="RequestTable">
        <thead>
            <tr id="RequestTableHeader">
                <th class="head"></th>
                <th class="head">Myndir</th>
                <th class="head">Útgáfuár</th>
                <th class="head">Athugasemdir</th>
                <th class="head">Sækja</th>
            </tr>
        </thead>
        <tbody id="Table1">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row3"> <img src="http://content.clearchannel.com/cc-common/mlib/589/05/589_1369232682.jpg" id="picturesize" alt="photo" /></td>
                    <td class="row1">@item.MediaName</td>
                    <td class="row1">@item.YearPublished</td>
                    <td class="row2">
                        <!--<form action="http://localhost:65081/Home/Comment">-->
                        @Html.ActionLink("comment", "comment", new { @item.ID }) >
                        <!--</form> -->                       <!--<button type="submit" class="glyphicon glyphicon-list-alt"</button>-->
                    </td>
                    <td class="row2"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
