@using Microsoft.AspNet.Identity
@model _3vikna.Models.ManageUserViewModel


<p id="loginname">Þú ert skráður inn sem: <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div id="lykilorð" style="display:none;">
        @Html.AntiForgeryToken()
        <h4>Breyta lykilorði</h4>
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista nýtt lykilorð" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="changepassword">
        <script src="~/Scripts/changepassword.js"></script>
        <input type="button" value="Breyta lykilorði" onclick="toggle('lykilorð')" />
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>

    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>


</head>
<body>
    <div class="profilepicture">
        <script src="~/Scripts/profilepicture.js"></script>
        <img id="profileimage" src="https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-prn2/v/t34.0-11/972633_581066028675681_324331589_a.jpg?oh=4e3a8a3a10d4657b73c4216202c90635&oe=53730254&__gda__=1400047102_eb6c086bbab07d186ad081968e7a88b7" alt="your image" />
        <input type='file' onchange="readURL(this);" />
    </div>
</body>
</html>

